In [ ]:
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
PATH_1 ='./drive/MyDrive/Dane/Zadanie_1.csv'
PATH_2 ='./drive/MyDrive/Dane/Zadanie_2.csv'
PATH_4 ='./drive/MyDrive/Dane/Zadanie_4.csv'

# Zadanie 1 (4 punkty)
*   Ile komórek liczy sobie macierz
*   Ile ma wierszy a ile kolumn
*   Oblicz następujące statystyki opisowe dla macierzy: średnia/mediana/wariancja
*   Powtórz czynność z podpunktu b), ale tym razem usuń z macierzy braki danych.

In [ ]:
import pandas as pd

df = pd.read_csv(PATH_1, sep = ';')
dm = df.to_numpy()

print(f'Liczba komórek: {np.size(dm)}')
print(f'Liczba kolumn i wierszy: {np.shape(dm)}')
print(f'Średnia: {np.mean(dm)}')
print(f'Mediana: {np.median(dm)}')
print(f'Wariancja: {np.var(dm)}')
dn = df.dropna().to_numpy()
print('Wartości po usunięciu wartości NaN')
print(f'Liczba kolumn i wierszy: {np.shape(dn)}')
print(f'Średnia: {np.mean(dn).round(2)}')
print(f'Mediana: {np.median(dn)}')
print(f'Wariancja: {np.var(dn).round(2)}')

Liczba komórek: 960
Liczba kolumn i wierszy: (60, 16)
Średnia: nan
Mediana: nan
Wariacja: nan
Wartości po usunięciu wartości NaN
Liczba kolumn i wierszy: (43, 16)
Średnia: 332.2
Mediana: 34.0
Wariacja: 1042134.75

# Zadanie 2 (2 pkt)
Wgraj dane z pliku Zadanie_2.csv.
 >a)	Znajdź wektory własne, oraz wartości własne dla zawartej w pliku macierzy
---
 >b)	Oblicz macierz odwrotną dla macierzy z pliku

In [ ]:
dv = np.genfromtxt(PATH_2, delimiter=';')
print(f'Macierz z pliku:\n {dv}')
print(f'Wektory własne\n: {np.linalg.eig(dv)}')
print(f'Wartości własne\n: {np.linalg.eigvals(dv)}')
print(f'Macierz odwrotna\n: {np.linalg.inv(dv)}')

Macierz z pliku:
 [[  1.   2.  15. -59.   9.   3.  75.   6.   7.   1.]
 [  0.   5.   0.   4.   6.  16.  44.   7.   1.   1.]
 [  7.  14.   3. -10.   9.  15.  73.   8.   2.   9.]
 [  1.   5.  15. -54.   5.  15.  35.   8.   6.   4.]
 [  0.   8.   5. -18.   7.  16.  91.   6.   7.   9.]
 [  7.  18.  23. -90.   4.   8.  31.   0.   1.   7.]
 [  2.   8.  20. -72.   4.   1.  91.   9.   4.   4.]
 [  4.  12.  18. -65.   6.   9.  76.   4.   9.   9.]
 [  7.  15.  13. -52.   5.   7.  54.   2.   7.   0.]
 [  2.   9.  15. -56.   6.   1.  98.   4.   8.   4.]]
Wektory własne
: (array([104.34960192 +0.j        , -23.35660516+18.84992811j,
       -23.35660516-18.84992811j,  15.92989017 +0.j        ,
        -4.99456452 +0.j        ,   0.35205717 +5.80125175j,
         0.35205717 -5.80125175j,  -1.03383491 +0.j        ,
         3.87900166 +1.42651533j,   3.87900166 -1.42651533j]), array([[-0.29000475+0.j        , -0.07545445+0.07743149j,
        -0.07545445-0.07743149j, -0.03544485+0.j        ,
         0.42681634+0.j        , -0.22172831-0.29869259j,
        -0.22172831+0.29869259j,  0.41343726+0.j        ,
        -0.28670255+0.21891569j, -0.28670255-0.21891569j],
       [-0.24163153+0.j        ,  0.41229621+0.09197324j,
         0.41229621-0.09197324j,  0.45873475+0.j        ,
        -0.27056206+0.j        , -0.01331344+0.1422557j ,
        -0.01331344-0.1422557j , -0.31591047+0.j        ,
         0.41954481-0.10561864j,  0.41954481+0.10561864j],
       [-0.41060573+0.j        ,  0.37509638-0.00960818j,
         0.37509638+0.00960818j,  0.64067986+0.j        ,
        -0.37967609+0.j        , -0.60525232+0.j        ,
        -0.60525232-0.j        ,  0.6457768 +0.j        ,
         0.63631555+0.j        ,  0.63631555-0.j        ],
       [-0.18899971+0.j        , -0.05624951+0.174848j  ,
        -0.05624951-0.174848j  ,  0.25174536+0.j        ,
        -0.07625465+0.j        , -0.14870016-0.00795735j,
        -0.14870016+0.00795735j,  0.15206852+0.j        ,
         0.21373907+0.00228636j,  0.21373907-0.00228636j],
       [-0.42862199+0.j        ,  0.47707538+0.14580554j,
         0.47707538-0.14580554j,  0.39445834+0.j        ,
        -0.69542141+0.j        ,  0.07336021-0.43070469j,
         0.07336021+0.43070469j, -0.25948775+0.j        ,
         0.20250102-0.00411374j,  0.20250102+0.00411374j],
       [-0.14730562+0.j        , -0.57352911+0.j        ,
        -0.57352911-0.j        ,  0.10071325+0.j        ,
         0.30158403+0.j        , -0.04758838+0.12911829j,
        -0.04758838-0.12911829j,  0.21274791+0.j        ,
        -0.1503483 +0.03452906j, -0.1503483 -0.03452906j],
       [-0.34660607+0.j        , -0.13987374+0.06837303j,
        -0.13987374-0.06837303j, -0.04800705+0.j        ,
         0.06798106+0.j        ,  0.00512204+0.04215641j,
         0.00512204-0.04215641j,  0.05365357+0.j        ,
        -0.0534517 +0.00550802j, -0.0534517 -0.00550802j],
       [-0.34919853+0.j        , -0.08414467+0.07749664j,
        -0.08414467-0.07749664j,  0.25925893+0.j        ,
        -0.10039982+0.j        , -0.06761437-0.25584347j,
        -0.06761437+0.25584347j, -0.38214447+0.j        ,
         0.29485109-0.01300678j,  0.29485109+0.01300678j],
       [-0.2440048 +0.j        , -0.13777908+0.00402196j,
        -0.13777908-0.00402196j,  0.27709282+0.j        ,
        -0.00524365+0.j        ,  0.21866893+0.04463336j,
         0.21866893-0.04463336j, -0.12045798+0.j        ,
         0.27558332+0.02285482j,  0.27558332-0.02285482j],
       [-0.38231403+0.j        , -0.00476199+0.03456836j,
        -0.00476199-0.03456836j,  0.04918165+0.j        ,
         0.07322815+0.j        ,  0.1819345 -0.29687727j,
         0.1819345 +0.29687727j, -0.11445044+0.j        ,
         0.02830199+0.00579727j,  0.02830199-0.00579727j]]))
Wartości własne
: [104.34960192 +0.j         -23.35660516+18.84992811j
 -23.35660516-18.84992811j  15.92989017 +0.j
  -4.99456452 +0.j           0.35205717 +5.80125175j
   0.35205717 -5.80125175j  -1.03383491 +0.j
   3.87900166 +1.42651533j   3.87900166 -1.42651533j]
Macierz odwrotna
: [[ 0.47461371  0.13269253 -0.24726695 -0.82965177  0.28250384 -0.17012825
   0.58274426  0.83686705  0.4146721  -1.56942847]
 [-0.38032531 -0.11226789  0.23216372  0.58853747 -0.2508954   0.10174485
  -0.40729564 -0.58325689 -0.2335154   1.11832726]
 [ 0.13559662  0.58950334 -0.24709855 -0.58789838 -0.30170699 -0.12721938
   0.23740295  1.01003036 -0.02151387 -0.64590149]
 [ 0.01425207  0.14570726 -0.04557569 -0.12721972 -0.08945184 -0.03756624
   0.03910376  0.23606066 -0.01436771 -0.11345749]
 [-0.09473246  0.01725249  0.19145597  0.32960274 -0.28626296  0.08348529
  -0.37577603 -0.27295934 -0.25855803  0.74691827]
 [ 0.16387032  0.10075684 -0.15404907 -0.29794662  0.16916877 -0.02827782
   0.20469921  0.28036265  0.15086178 -0.5882585 ]
 [ 0.04288003  0.02246462 -0.0366803  -0.09024915  0.04322146 -0.01047861
   0.06167348  0.07009721  0.0367806  -0.14185925]
 [-0.26858433 -0.21167346  0.25168367  0.55607234 -0.16804333  0.01066975
  -0.22435849 -0.52957038 -0.15757224  0.77302113]
 [-0.15583541 -0.13041404  0.0984558   0.3150966  -0.09916278 -0.04426337
  -0.20832614 -0.18404388 -0.04309498  0.45794224]
 [-0.05970783 -0.11342903  0.09122544  0.11908074 -0.00311646  0.02370807
  -0.07526552 -0.06924544 -0.10963836  0.16553689]]

#Zadanie 3 (4 punkty)
Wgraj dane z pliku Zadanie_3.csv
Wykorzystaj następujący wzór:

![xD.png]()

Gdzie A i B to wektory reprezentujące kolejne kolumny.

Aby stworzyć macierz podobieństwa w oparciu o macierz z pliku.

In [ ]:

MA ='./drive/MyDrive/Dane/Zadanie_3_macierz_A.csv'
MB ='./drive/MyDrive/Dane/Zadanie_3_macierz_B.csv'
m1 = np.genfromtxt(MA, delimiter=',')
m2 = np.genfromtxt(MB, delimiter=',')

def cos_sim_2d(x, y):
    norm_x = x / np.linalg.norm(x, axis=1, keepdims=True)
    norm_y = y / np.linalg.norm(y, axis=1, keepdims=True)
    return np.matmul(norm_x, norm_y.T)

print(cos_sim_2d(m1, m2))

[[0.7970534  0.93075784 0.85152689 0.80479273 0.86772183]
 [0.3985267  0.56879646 0.57428557 0.32694705 0.97618706]
 [0.92108283 0.9763075  0.91890016 0.9336035  0.69421013]]

https://towardsdatascience.com/cosine-similarity-matrix-using-broadcasting-in-python-2b1998ab3ff3

https://www.tutorialexample.com/compute-cosine-similarity-matrix-of-two-numpy-array-numpy-tutorial/

# Zadanie 4 (3 punkty)
W pliku Zadanie_4.csv zawarte są dane o stanie dostępności gabinetu lekarskiego w danej minucie.
Napisz program, który przekształci dane w taki sposób, żeby w jednej linijce zapisany był początek i koniec przedziału czasowego, kiedy lekarz jest dostępny
Dane zapisz do pliku CSV.

https://stackoverflow.com/questions/41399538/comparing-previous-row-values-in-pandas-dataframe

In [6]:
import pandas as pd
import datetime
from datetime import datetime


df_zf = pd.read_csv(PATH_4, sep = ';').dropna(axis = 1)
df_zf['Data'] = df_zf['DateTime'].apply(lambda x: datetime.strptime(x, '%d.%m.%Y %H:%M').strftime("%d.%m.%Y"))
df_zf['Czas'] = df_zf['DateTime'].apply(lambda x: datetime.strptime(x, '%d.%m.%Y %H:%M').strftime("%H:%M"))
df_zf2 = df_zf.groupby(['Data','DoctorID','Type','City'], as_index = False).agg({'DateTime':['min', 'max']})
df_zf2

         Data DoctorID           Type    City          DateTime  \
                                                            min
0  10.04.2020        4  Opthomologist  Krakow  10.04.2020 13:20
1  16.03.2020        1             GP  Warsaw  16.03.2020 12:00
2  16.03.2020        2             GP  Krakow  16.03.2020 12:00
3  22.03.2020        3        Sugreon  Warsaw  22.03.2020 08:01
4  29.03.2020        1             GP  Warsaw  29.03.2020 14:00


                max
0  10.04.2020 13:34
1  16.03.2020 14:01
2  16.03.2020 12:49
3  22.03.2020 09:06
4  29.03.2020 14:37